*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
/* Struttura principale */
.main{
    width: 100%;
    height: calc(100vh);
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(#009688, #D5DBD9);
}
.main-box{
    position: relative;
    width: 75%;
    height: 90%;
    
    background-color: chartreuse;
}
.col-left{
   width: 30%;
   height: 100%;
   
   background-color: white;
}
.col-right{
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background-color: darkblue;
}
/* Fine struttura principale */

/* modifico colonna left */
.row{
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
}
.profile-col-left{
    display: flex;
    align-items: center;
    height: 90px;
}
.img-profile{
    width: 70px;
    height: 70px;
    margin-left: 10px;
    border-radius: 50%;
    overflow: hidden;
}
.nickname-profile{
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px
}
/* End colonna left */

/* modifico colonna right */
.profile-col-right{
    float: right;
    display: flex;
    align-items: center;
}
i{
    width: 40px;
    font-size: 25px;
    color: lightslategray;
}
/* End colonna right */

/* Main list col left */






/* 
colonna principale right bordo
*/
.col-right{
    border-left: 1px solid gray;
}